<% layout("layouts/boilerplate.ejs") %>

<div class="container-images">
    <% for (let listing of allListings){ %>
          <div id="card1">
            <a href="./listings/<%= listing._id %>"><img class="card-img" src="<%= listing.image.url %>" class="card-img-top" alt="image"></a>
            <div class="card-body">
              <a href="./listings/<%= listing._id %>" class="card-text">Title : <%= listing.title %></a>
              <br>
              <a href="./listings/<%= listing._id %>" class="card-text">Price : &#8377 <%= listing.price %></a>
            </div>
          </div>
    <% } %>
</div>
<br>
<form method="GET" action="/listings/new">
  <button class="create-new">Create New listing</button>
</form>
</ul>

